<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
<meta charset="UTF-8">
<title>控制器</title>
<script type="text/javascript" src="./js/1.6.4/angular.js"></script>
<style type="text/css">
    *{ margin: 0; padding: 0; box-sizing: border-box; }
    img{ display: block; width: 50%; margin: 0 auto; }
    ul, ol{ list-style: none; }
    input.ng-invalid {
        background-color: lightblue;
    }
</style>

</head>
<body>

    <div ng-controller="myCtrl">
        <label>名：<input type="text" ng-model="firstName" /></label><br/>
        <label>姓：<input type="text" ng-model="lastName" /></label><br/>
        <h1>姓名：{{ fullName() }}</h1><br/>
        <br/>
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>
    <br/><br/>





</body>
<script type="text/javascript" src="./js/personController.js"></script>
</html>