<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
    <script type="text/javascript" src="./js/1.6.4/angular.js"></script>
    <style type="text/css">
        *{ margin: 0; padding: 0; box-sizing: border-box; }
        body{ padding: 20px; }
        img{ display: block; width: 50%; margin: 0 auto; }
        ul, ol{ list-style: none; }
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>
</head>
<body>

<div ng-controller="myCtrl">
    <br/>
    <p>{{ firstName | lowercase }}</p><br/>
    <p>{{ lastName | uppercase }}</p><br/>
    <p>{{ firstName + ', ' + lastName | reverse }}</p><br/>
    <label>数量：<input type="number" ng-model="quantity" /></label><br/>
    <label>价格：<input type="number" ng-model="price" /></label><br/>
    <p>总价 = {{ (quantity * price) | currency }}</p>
    <br/>
    <ul>
        <li ng-repeat="x in names | orderBy: 'country'">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>
    <br/>
    <ul>
        <li>
            <input type="text" ng-model="test" />
        </li>
        <li ng-repeat="x in names | filter:test | orderBy: 'country'">
            {{ (x.name | uppercase) + ', ' + (x.country | lowercase) }}
        </li>
    </ul>
</div>
<br/><br/>





</body>
<script type="text/javascript" src="./js/personController.js"></script>
</html>